<!DOCTYPE html>
<html>
<h1> timer page</h1>
<body>
<div class="game_info" data-spy="scroll" data-target=".header">

    <div class="col-md-6 col-sm-6 col-xs-12">
       <div class="row">
            <div class="full">
                
                    <div class="right-match-time">
                        <h2>Next Match</h2>
                        <h3>....{{ques.date}}</h3>
                        <ul id="countdown-1" class="countdown">
                        <li><span id="days"></span>Day </li>
                        <li><span id="hours"></span>Hours </li>
                        <li><span id="minutes"></span>Minutes </li>
                        <li><span id="seconds"></span>Seconds </li>
                        </ul>
                
                    </div>
            </div>
       </div>
    </div>
</div>
</body>
</html>
<script>
    function makeTimer() {
        var selected_date = new Date("{{ ques.date.isoformat }}");
        var endTime=new Date("{{ques.date|date:'U'}}" * 1000);
        consol.log('========----------=============',selected_date)
        consol.log('==========###########================',endTime)
        endTime = (Date.parse(endTime) / 1000);
    
            var now = new Date();
            now = (Date.parse(now) / 1000);
    
            var timeLeft = endTime - now;
    
            var days = Math.floor(timeLeft / 86400);
            var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
            var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600 )) / 60);
            var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));
    
            if (hours < "10") { hours = "0" + hours; }
            if (minutes < "10") { minutes = "0" + minutes; }
            if (seconds < "10") { seconds = "0" + seconds; }
    
            $("#days").html(days + "<span>Days</span>");
            $("#hours").html(hours + "<span>Hours</span>");
            $("#minutes").html(minutes + "<span>Minutes</span>");
            $("#seconds").html(seconds + "<span>Seconds</span>");
    
    }
    setInterval(function() { makeTimer(); }, 1000);
</script>


