<!DOCTYPE html>
<html>
<h1> timer page</h1>
<body>
    
</html>

<script type="text/javascript">
    window.onload = function begin(){
    document.getElementById('timer').innerHTML =
      30 + ":" + 00;
    startTimer();
    }
    
    function startTimer() {
      var presentTime = document.getElementById('timer').innerHTML;
      var timeArray = presentTime.split(/[:]+/);
      var m = timeArray[0];
      var s = checkSecond((timeArray[1] - 1));
      if(s==59){m=m-1}
      if(m<0){
        document.getElementById('quiz').submit();
      }
      document.getElementById('timer').innerHTML =
        m + ":" + s;
      setTimeout(startTimer, 1000);
    }
    
    function checkSecond(sec) {
      if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
      if (sec < 0) {sec = "59"};
      return sec;
    }
    </script>




    <script type="text/javascript">
        window.onload = function begin(){
        document.getElementById('timer').innerHTML =
          30 + ":" + 00;
        startTimer();
        }
        
        function startTimer() {
          var presentTime = document.getElementById('timer').innerHTML;
          var timeArray = presentTime.split(/[:]+/);
          var m = timeArray[0];
          var s = checkSecond((timeArray[1] - 1));
          if(s==59){m=m-1}
          if(m<0){
            document.getElementById('quiz').submit();
          }
          document.getElementById('timer').innerHTML =
            m + ":" + s;
          setTimeout(startTimer, 1000);
        }
        
        function checkSecond(sec) {
          if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
          if (sec < 0) {sec = "59"};
          return sec;
        }
        </script>

        
        <div class='float-right sticky-top'>
            <div class="row justify-content-left">
                <div class="col-mx-auto">
                    <div class="alert alert-success" role="alert"><center>Time left : <span id="timer"></span></center></div>
                </div>
            </div>
        </div>

    </body>